__pycache__/
env/
build/
dist/
docs/build
docs/_build
hondana.log
target/
.vscode/settings.json

# local testing
_api*.yaml
.hondana-refresh-token
_testing/
*.ipynb
_*.py
docker-compose.yml
_*

# media files
*.png
*.jpg
*.jpeg
*.webp
*.gif
