# python ignores
__pycache__/
*.py[cod]
.venv/
dist/
build/
target/


# docs related
docs/build
docs/_build

# local testing
_*.yaml
_*.yml
_*.py
_*.json
preflight.log
.vscode/settings.json

# media files
*.png
*.jpg
*.jpeg
*.webp
*.gif
